.transaction-container {
    color: white !important;
    width: 100vw;
    background-color: #2D2F32;
    margin-top: 0;
    position: relative;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.transactionName {
    padding: 15px;
    font-family: Inter-semibold;
}
