
Kick-off/~$signthinking.docx
Android/.DS_Store
.DS_Store
Android/Documentatie/.DS_Store
.DS_Store
PWA/Backend/pwaApi/bin/Debug/net6.0/pwaApi
PWA/Backend/pwaApi/bin/Debug/net6.0/pwaApi.dll
PWA/Backend/pwaApi/bin/Debug/net6.0/pwaApi.pdb
PWA/Backend/pwaApi/obj/Debug/net6.0/apphost
PWA/Backend/pwaApi/obj/Debug/net6.0/project.razor.json
PWA/Backend/pwaApi/obj/Debug/net6.0/pwaApi.assets.cache
PWA/Backend/pwaApi/obj/Debug/net6.0/pwaApi.csproj.AssemblyReference.cache
PWA/Backend/pwaApi/obj/Debug/net6.0/pwaApi.csproj.CoreCompileInputs.cache
PWA/Backend/pwaApi/obj/Debug/net6.0/pwaApi.csproj.FileListAbsolute.txt
PWA/Backend/pwaApi/obj/Debug/net6.0/pwaApi.dll
PWA/Backend/pwaApi/obj/Debug/net6.0/pwaApi.GeneratedMSBuildEditorConfig.editorconfig
PWA/Backend/pwaApi/obj/Debug/net6.0/pwaApi.genruntimeconfig.cache
PWA/Backend/pwaApi/obj/Debug/net6.0/pwaApi.pdb
PWA/Backend/pwaApi/obj/project.assets.json
PWA/Backend/pwaApi/obj/project.nuget.cache
PWA/Backend/pwaApi/obj/pwaApi.csproj.nuget.dgspec.json
PWA/Backend/pwaApi/obj/pwaApi.csproj.nuget.g.props
PWA/Backend/pwaApi/obj/staticwebassets.pack.sentinel
