.odometerOverlay-container{
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 95%;
    height: 273px;
    border-radius: 10px;
    background-color: #2D2F32;
    overflow: hidden;

    .odometer-topper{
        width: 100%;
        height: 30%;
        display: flex;
        font-family: Inter-semibold;
        justify-content: center;
        h1{
          margin: 4%;
          color: white;
        }
    }
    .odometer-footer{
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: space-between;
        font-family: Inter-semibold;
        align-items: baseline;
        text-align: center;
        margin-top: 5%;
        .OdometerOverlayButton{
            margin: auto;
            width: 80%;
            font-family: "Inter-bold";
            text-transform: initial;
        }
    }
}
.odometer-container{
    display: flex;
    flex-direction: row;
    height: 69px;
    width: 80%;
    margin: auto;
    
    input {
        margin: auto;
        width: 15%;
        height: -webkit-fill-available;
        font-size: xxx-large;
        text-align: center;
        font-family: "Inter-semibold";
        color: #7C7C7C;
        background: none;
        border: 1px solid #E42C64;
    }
    h1{
        align-self: flex-end;
        font-size: xxx-large;
        text-align: start;
        font-family: "Inter-semibold";
        margin: auto;
        margin-bottom: 0;
        position: relative;
        bottom: -16%;
        color: #E42C64;
    }
}
