.averageUseStats-container{
    margin: auto;
    margin-top: 1vh;
    width: 95%;
    height: fit-content;
    border-radius: 10px;
    background-color: #2D2F32;
    overflow: hidden;
  
    .averageUseStats-topper{
      width: 100%;
      height: 30%;
      font-family: Inter-semibold;
      overflow-y: hidden;
      font-size: 13px;
      .averageUseStats-title{
        margin: 4%;
        color: white;
      }
      p{
        align-self: center;
        color: #DD8419;
        opacity: 40%;
        margin: 4%;
      }
    }
    .averageUseStats-people{
      font-family: Inter-bold;
      vertical-align: middle;
      flex-direction: column;
      height: 70%;
      margin-bottom: 10px;
    }
    .averageUseStats-person{
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin-left: 10%;
      margin-bottom: 1vh;
      
      .averageUseStats-name {
        font-size: 16px;
        color: white;
        align-self: center;
        //margin-left: -15vw;
        font-family: "Inter-semibold";
        margin-right: auto;
        margin-left: 1vw;
      }
      .averageUseStats-statistics{
        color: white;
        font-size: 16px;
        align-self: center;
        margin-right: 10px;
        font-family: "Inter-light";
      }
    }
  }