* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
}

body {
  margin: 0px !important;
}

.main-container{
  background-color: #1A1C1F;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
    font-family: 'Inter-light';
    font-weight: 900;
    src: local('Inter'), url(./font/inter_light.ttf) format('opentype');
}
@font-face {
    font-family: 'Inter-medium';
    font-weight: 900;
    src: local('Inter'), url(./font/inter_medium.ttf) format('opentype');
}
@font-face {
    font-family: 'Inter-regular';
    font-weight: 900;
    src: local('Inter'), url(./font/inter_regular.ttf) format('opentype');
}
@font-face {
    font-family: 'Inter-semibold';
    font-weight: 900;
    src: local('Inter'), url(./font/inter_semibold.ttf) format('opentype');
}
@font-face {
    font-family: 'Inter-bold';
    font-weight: 900;
    src: local('Lato'), url(./font/inter_bold.ttf) format('opentype');
}
@font-face {
    font-family: 'Inter-extrabold';
    font-weight: 900;
    src: local('Inter'), url(./font/inter_extrabold.ttf) format('opentype');
}
