$MainColor: #2D2F32;
$white: #ffffff;
$Card-Corners: 10px;

.Trans-container{
    position: relative;
    background-color: $MainColor;
    border-radius: $Card-Corners;
    color: $white;
    font-family: sans-serif;
    width: 95vw;
    height: 130px;
    margin: auto;
    overflow: hidden;
}
.Trans-container img{
    position: absolute;
    top: 40px;
    width: 70%;
    margin-left: 40%;
}
.Trans-container h2{
    font-size: 24px;
    font-family: Inter-semibold;
    padding: 10px 4% 0px 4%;
    margin: 0;
}