.car-container{
    margin: auto;
    margin-top: 10px;
    width: 90%;
    height: 31vh;
    border-radius: 10px;
    background-color: #2D2F32;
    overflow: hidden;

    p{
        font-family: sans-serif;
        margin-left: 65vw;
        margin-top: -2vh;
        color: white;
    }
}
.carName{
    margin: 14px 0px -23px 25px;
    color: white;
    font-family: sans-serif;
    font-size: revert;
    max-width: 80%;
}
.carImage{
    overflow: hidden;
    width: inherit;
    object-fit: scale-down;
}
.carImage-container{
    height: 18vh;
    margin-left: 50%;
    overflow: hidden;
    width: inherit;
    display: flex;
}

.carRange{
    color: white;
    font-family: sans-serif;
    font-size: small;
    margin: 0px 0px 0px 25px;
}

.carStatus{
    color: #FFD280;
    font-family: sans-serif;
    font-size: small;
    margin: 0px 0px 0px 25px;
}
