.chart-container{
    position: relative;
    min-height: 250px;
    margin: auto;
    margin-top: 1vh;
    width: 95%;
    border-radius: 10px;
    background-color: #2D2F32;
    color: white;
}

.donutchart-container {
    height: 250px;
    width: 100%;
}

.chart-info{
    position: relative;
    height: 250px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chartInfo-person{
    text-align: center;
    font-family: "Inter-semibold";
}

.chartInfo-colour {
    position: absolute;
    z-index: 2;
    width: 70px;
    height: 20px;
    border-radius: 50px;
    margin-top: 0px;
}

.tussendiv {
    position: relative;

}

.chartInfo-colourBottom {
    position: sticky;
    z-index: 1;
    width: 70px;
    height: 20px;
    border-radius: 50px;
    margin-top: 5px;
    filter: blur(6px);
}

.chartInfo-text {
    height: 100%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topChart {
    position: absolute;
    right: calc((100% - 250px)/2);
    z-index: 2;
}
.bottomChart{
    right: calc((100% - 250px)/2);
    position: absolute;
    z-index: 1;
    filter: blur(8px);
}

path{
    stroke: none !important;
}

.kilometersName{
    padding: 15px;
    padding-bottom: 0px;
    font-family: Inter-semibold;
}