.chart-container{
        margin: auto;
        margin-top: 1vh;
        margin-bottom: 0;
        width: 95%;
        height: fit-content;
        border-radius: 10px;
        background-color: #2D2F32;
        overflow: hidden;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
}
.donutchart-innertext-value{
    visibility: hidden;
    color: white;
}
.donutchart-legend{
    color: white !important;
}
.donutchart-legend-item-label {
    color: white;
}
.donutchart-container{
    height: 100%;
    overflow: hidden;
    height: fit-content;
}
.chart-info{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    overflow-y: scroll;
    max-height: 33%;
    .chartInfo-person{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .chartInfo-name{
            margin-right: auto;
            font-family: "Inter-semibold";
        }
        .chartInfo-percentage{
            font-family: "Inter-light";
        }
    }
}