nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
    background-color: #ff0000;
    margin-bottom: 1rem;
    height: 10%;
    margin-bottom: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;

    img {
        height: 50px;
        object-fit: cover;
        margin-right: 2rem;
        &:hover {
            cursor: pointer;
        }
    }

    section {
        text-align: center;
        padding-left: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: rgb(255, 255, 255);
        width: inherit;
        padding: 0;

        p {
            width: 50%;
            padding-inline: 1.5rem;
            font-size: 20px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .Name-Container > p {
            font-size: 14px;
            margin: 0;
            text-align: end;
            padding-inline: 0.5rem;

            &:last-child {
                font-size: 12px;
            }
        }

        svg {
            font-size: 36px;
            padding-inline: 0.5rem;

            &:hover {
                cursor: pointer;
            }
        }

        // .Notification-Dropdown {
        //     h3 {
        //         margin: 0;
        //     }
        //     position: relative;

        //     &-Content {
        //         display: none;
        //         position: absolute;
        //         z-index: 1;
        //         box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.25);
        //         background: rgb(255, 255, 255);
        //         color: rgb(0, 0, 0);
        //         padding: 0.5rem 0.5rem;
        //         right: 0;
        //         transform: translateX(50%);
        //         margin: 1rem 2rem;

        //         &:before {
        //             content: "";
        //             border-style: solid;
        //             border-width: 0 10px 15px 10px;
        //             border-color: transparent transparent rgb(255, 255, 255)
        //                 transparent;
        //             position: absolute;
        //             top: -15px;
        //             left: 55%;
        //             transform: translateX(-55%);
        //             z-index: 2;
        //         }

        //         &:after {
        //             content: "";
        //             height: 25px;
        //             width: 100%;
        //             right: 0;
        //             top: -25px;
        //             z-index: 2;
        //             position: absolute;
        //         }
        //     }
        // }

        // .Notification-Dropdown:hover {
        //     display: block;

        //     .Notification-Dropdown-Content {
        //         display: block;
        //     }
        // }
    }
}

.bold-text {
    font-weight: bold;
}