.header-containerCarPage {
    color: white;
    width: 100vw;
    background-color: #2D2F32;
    margin-top: 0;
    height: 26.125%;
    position: relative;
}

.avatar{
    text-align: center !important;
    margin-top: calc(((100vh*0.26125) - 128px)*0.3);
    margin-left: calc((100vw - 128px)/2);
    position: absolute !important;

}

.carnameCarPage {
    font-family: Inter-semibold;
    bottom: 0;
    margin: 15px;
    font-weight: 100;
    font-size: 24px;
}

.backButtonCarPage {
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 15px;
    font-family: Inter-medium;
    display: flex;
    align-items: center;
    color: white;
}

.carImageCarPage{
    width: 100%;
    object-fit: scale-down;
    margin-top: calc(((100vh * 0.26125) - ((100vw * 0.8) * 0.463))*0.2);
}

.carImage-containerCarPage{
    height: calc(100vh * 0.26125);
    width: 80%;
    margin: auto;
}

.tripButtonCarPage {
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: 15px !important;
    height: 25px !important;
    width: 130px !important;
}

.bottomContainerCarPage {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100vw;
}