.statsRange-container{
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 95%;
    height: fit-content;
    border-radius: 10px;
    background-color: #2D2F32;
    overflow: hidden;
  
    .stats-topper{
      width: 100%;
      height: 40%;
      display: flex;
      justify-content: space-between;
      font-family: Inter-semibold;
      align-items: baseline;
      
      .stats-title{
        padding: 15px;
        color: white;
      }
      p{
        align-self: center;
        color: #DD8419;
        opacity: 40%;
        margin: 4%;
        visibility: visible;
      }
    }
    .stats-info{
      font-family: Inter-bold;
      vertical-align: middle;
      flex-direction: column;
      height: 60%;
      margin-bottom: 10px;
      .stats-rangeslider{
        color: white;
          width: 80%;
          height: 25%;
          margin-left: 10%;
          display: flex;
          justify-content: space-between;
          font-size: 16px;
        .stats-rangetitle{
          opacity: 40%;
          font-family: "Inter-light";
          font-size: 16px;
        }
        .stats-rangekm{
          margin-right: auto;
          margin-left: 1vw;
          font-family: "Inter-bold";
          font-size: 16px;
        }
      }
      .sliders{
        color: white;
        position: relative;
        width: 100%;
        height: 4vh;
        display: flex;
        justify-content: space-between;
      }
      .stats-range {
        color: white;
        width: 80%;
        height: 25%;
        margin-left: 10%;
        display: flex;
        justify-content: space-between;
        .stats-name {
          font-size: 16px;
        }
        .stats-statistics{
          font-size: 16px;
        }
      }
      .stats-tank {
        color: white;
        width: 80%;
        height: 25%;
        margin-left: 10%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1vh;
        .stats-name {
          font-size: 16px;
          font-family: "Inter-bold";
        }
        .stats-statistics{
          font-size: 16px;
          font-family: "Inter-light";
        }
      }
      .stats-odometer {
        color: white;
        width: 80%;
        height: 25%;
        margin-left: 10%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1vh;
        .stats-name {
          font-size: 16px;
          font-family: "Inter-bold";
        }
        .stats-statistics{
          font-size: 16px;
          font-family: "Inter-light";
        }
      }
    }
    .css-14gf62f-MuiSlider-thumb{
      visibility: hidden;
    }
    .css-53tbrc-MuiSlider-root{
      padding: 10px !important;
    }
    .css-1n40zqk-MuiSlider-track{
      color: #D970DB;
      height: 1vh;
    }
    .css-14pt78w-MuiSlider-rail{
      color: #D6D6D6;
      width: 90%;
    }
    .css-53tbrc-MuiSlider-root{
      width: 100%;
    }
    .bottomSlider{
      position: absolute;
      z-index: 1;
      filter: blur(4px);
    }
    .topSlider{
      position: absolute;
      z-index: 2;
    }
  }